h1 {   
    color: rgb(178, 178, 235);   
      text-align: center;   
      font-family: 'Arial Black', Gadget, sans-serif;   
}
a {
    color: rgb(107, 107, 253);
    text-decoration: none;
    text-align: justify;
}